<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%=require('html-loader!./common/meta.html') %>
	<title>
		<%=htmlWebpackPlugin.options.title %>
	</title>
</head>
<body>
	<%=require('html-loader!./common/nav.html') %>
	<%=require('html-loader!./common/search.html') %>
	<!-- 焦点区域开始 -->
	<div class="focus">
		<div class="container clearfix">
			<ul class="keywords">

			</ul>

			<div class="swiper-container">

			</div>
		</div>
	</div>
	<!-- 楼层开始 -->
	<div class="floor">
		<div class="container">
			<div class="floor-wrap">		
			</div>
		</div>
	</div>		


	<%=require('html-loader!./common/footer.html') %>	
</body>
</html>