.nav{
	height: 30px;
	line-height: 30px;
	background-color: #f5f5f5;
}
.user-info{
	float: left;
}
.username{
	color: #666;
	margin-right: 10px;
}
.nav-list{
	float: right;
}
.nav-list .nav-item{
	float: left;
	margin-right: 10px;
}