


.side-content{
	float: left;
	width: 910px;
	min-height: 600px;
	background-color: #fff;
	box-sizing: border-box;
	padding: 20px;
}


.form-item{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.label-item{
	display: inline-block;
	width: 100px;
	text-align: right;
}
.content-item{
	display: inline-block;
	width: 400px;
	padding-left: 40px;
}	